extends layout
<link type="text/css" rel="stylesheet" href="public/stylesheets/style.css" />
block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    #logoText
      .lead prism
    #myStyle
      p
      h1 #{user.username}
      #myTitle
        p <em>#{user.title}</em>
    a(href="/logout") Logout