extends layout

block content
  //TYLER: if user isn't logged in
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  //TYLER: if the user is logged in
  if (user)
    //TYLER: display who you are logged in as
    p You are currently logged in as #{user.username}
    p TITLE: #{user.title}
    a(href="/logout") Logout